body{
    direction: rtl;
  unicode-bidi: embed;
}
.header_left_section {
    float: right;
}
.header_right_section {
    float: left;
    text-align: right !important;
}
.header_right_section i {
	float: right !important;
}
.header_right_section p{
	text-align: right;
}
.header_right_section h4 {
    margin-left: 5px;
    }
.owl-stage-outer{
	direction: ltr;
}
.image-boxes .description {
    padding-right: 20px!important;
}
.alignleft {
    float: right!important;
    margin: 0 0 15px 20px;
}
.iconbox .description h3,.iconbox .description p{
	text-align: right !important;
}
.custom_title h3{
	text-align: right !important;
}
.iconbox_left .alignleft {
    margin-left: 15px;
}
.social_icons a{
	float: right;
    margin-left: 10px;
}
#pg-3921-0 .panel-grid-cell{
	    float: right !important;
}
.menu > ul  > li{
	float: right !important;
}
.menu ul{
	float: left !important;
}
.iconbox,.iconbox_center .description h3{
	text-align: center !important;
}
.iconbox,.iconbox_center .description p{
	text-align: center !important;
}
.pagination{
	float: right;
}
.widget_container{
	text-align: right !important;
}
.custom_title p{
	text-align: right !important;
}
.custom_title,.kaya_title_center h3{
	text-align: center !important;

}